.most-popular-container
{
    display: flex;
    flex-direction: column;
    border: 1px solid #9E5573;
    border-radius: 25px;
    padding-top:40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.most-popular-text-container
{
    margin-bottom: 40px;
    text-align: center;
}

.promo
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.promo-img
{
    width: 350px;
    height: 350px;
    border-radius: 25px;
}

.img-aspect
{
    aspect-ratio: 3/1;
    width: fit-content;
}