
<div class="row" style="margin-top: 60px;">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>
        {{error}}
      </p>
    </div>
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
<!-- Podesi velicinu ovoga -->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" style="min-width:400px ">
            <div class="account-box" *ngIf="isLoginMode">
                <div class="logo ">
                    <img src="http://placehold.it/90x38/fff/6E329D&text=LOGO" alt=""/>
                </div>
                <form class="form-signin" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading"
                >
                <div class="form-group">
                  <input
                    name="email" 
                    type="email" 
                    id="email"
                    class="form-control" 
                    ngModel 
                    required 
                    email
                    placeholder="Email"
                  />
                </div>
                <div class="form-group">
                  <input
                  placeholder="Password"
                  type="password"  
                  id="password" 
                  class="form-control"
                  ngModel
                  name="password" 
                  required
                  minlength="6"
                  />
                </div>
                <button class="btn btn-lg btn-block purple-bg" type="submit" [disabled]="!authForm.valid">
                    Log in</button>
                </form>
                <div class="or-box row-block">
                    <div class="row">
                      <spam class="or">OR</spam> <!--Unesi ovde da na dugme radi sign up-->
                        <div class="col-md-12 row-block">
                            <button  class="btn btn-primary btn-block"
                            (click)="onSwitchMode()" type="button" >{{isLoginMode?"Create New Account":"Switch to log in"}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="account-box" *ngIf="!isLoginMode">
              <div class="logo ">
                  <img src="http://placehold.it/90x38/fff/6E329D&text=LOGO" alt=""/>
              </div>
              <form class="form-signup" #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading"
              >
              <div class="form-group" 
              id="name_lastname">
                <input  style="margin-right: 2px;"
                  name="name" 
                  type="name" 
                  id="name"
                  class="form-control" 
                  ngModel 
                  required 
                  placeholder="Name"
                />
                <input 
                name="lastName" 
                type="lastName" 
                id="lastName"
                class="form-control" 
                ngModel 
                required 
                placeholder="Last Name"
              />
              </div>
              
              
              <div class="form-group">
                <input
                  name="address" 
                  type="address" 
                  id="address"
                  class="form-control" 
                  ngModel 
                  required 
                  placeholder="Address"
                />
              </div>
              <div class="form-group">
                <input
                  name="phone" 
                  type="phone" 
                  id="phone"
                  class="form-control" 
                  ngModel 
                  required 
                  placeholder="Phone"
                />
              </div>
              <div class="form-group">
                <input
                  name="email" 
                  type="email" 
                  id="email"
                  class="form-control" 
                  ngModel 
                  required 
                  email
                  placeholder="Email"
                />
              </div>
        
              <div class="form-group">
                <input
                placeholder="Password"
                type="password"  
                id="password" 
                class="form-control"
                ngModel
                name="password" 
                required
                minlength="6"
                #password = "ngModel"
                />
              </div>
              
              

             
             
              <button class="btn btn-lg btn-block purple-bg" type="submit" [disabled]="!authForm.valid">
                  Create New Account</button>
              </form>
              <div class="or-box row-block">
                  <div class="row">
                    <span class="or">OR</span> <!--Unesi ovde da na dugme radi sign up-->
                      <div class="col-md-12 row-block">
                          <button  class="btn btn-primary btn-block"
                          (click)="onSwitchMode()" type="button" >{{isLoginMode?"Create New Account":"Switch to log in"}}</button>
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
  </div>
  </div>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->